In [17]:
import pandas as pd
import numpy as np

Abrimos el archivo *'Light Duty Vehicles.csv'*

In [18]:
df = pd.read_csv(r'C:\Users\Pepinot\Documents\Henry\Modulos\PROYECTO GRUPAL\Light Duty Vehicles.csv')

Observamos el dataset

In [19]:
df.head()

,Vehicle ID,Fuel ID,Fuel Configuration ID,Manufacturer ID,Category ID,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Manufacturer URL,Category,Fuel Code,Fuel,Fuel Configuration Name,Electric-Only Range,PHEV Total Range,PHEV Type,Notes,Drivetrain
0,13044,45,9,365,27,NSX ...,2022,,,,...,http://www.acura.com/ ...,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,,,,...,AWD
1,12854,45,9,377,27,A3 ...,2022,,,,...,http://progress.audiusa.com/ ...,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,,,,...,FWD
2,12842,45,9,377,27,A3 quattro ...,2022,,,,...,http://progress.audiusa.com/ ...,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,,,,...,AWD
3,12783,45,9,377,27,A4 allroad quattro ...,2022,,,,...,http://progress.audiusa.com/ ...,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,,,,...,AWD
4,12782,45,9,377,27,A4 quattro ...,2022,,,,...,http://progress.audiusa.com/ ...,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,,,,...,AWD

Observamos una descripcion general de los datos

In [20]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3008 entries, 0 to 3007
Data columns (total 29 columns):
 #   Column                                                                                                                                                                                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                       --------------  -----
 0   Vehicle ID                                                                                                                                                                                                                                                                   3008 non-null   int64
 1   Fuel ID                                                                                                                                                                                                                                                                      3008 non-null   int64
 2   Fuel Configuration ID                                                                                                                                                                                                                                                        3008 non-null   object
 3   Manufacturer ID                                                                                                                                                                                                                                                              3008 non-null   int64
 4   Category ID                                                                                                                                                                                                                                                                  3008 non-null   int64
 5   Model                                                                                                                                                                                                                                                                        3008 non-null   object
 6   Model Year                                                                                                                                                                                                                                                                   3008 non-null   int64
 7   Alternative Fuel Economy City                                                                                                                                                                                                                                                3008 non-null   object
 8   Alternative Fuel Economy Highway                                                                                                                                                                                                                                             3008 non-null   object
 9   Alternative Fuel Economy Combined                                                                                                                                                                                                                                            3008 non-null   object
 10  Conventional Fuel Economy City                                                                                                                                                                                                                                               3008 non-null   object
 11  Conventional Fuel Economy Highway                                                                                                                                                                                                                                            3008 non-null   object
 12  Conventional Fuel Economy Combined                                                                                                                                                                                                                                           3008 non-null   object
 13  Transmission Type                                                                                                                                                                                                                                                            3008 non-null   object
 14  Engine Type                                                                                                                                                                                                                                                                  3008 non-null   object
 15  Engine Size                                                                                                                                                                                                                                                                  3008 non-null   object
 16  Engine Cylinder Count                                                                                                                                                                                                                                                        3008 non-null   object
 17  Engine Description                                                                                                                                                                                                                                                           3008 non-null   object
 18  Manufacturer                                                                                                                                                                                                                                                                 3008 non-null   object
 19  Manufacturer URL                                                                                                                                                                                                                                                             3008 non-null   object
 20  Category                                                                                                                                                                                                                                                                     3008 non-null   object
 21  Fuel Code                                                                                                                                                                                                                                                                    3008 non-null   object
 22  Fuel                                                                                                                                                                                                                                                                         3008 non-null   object
 23  Fuel Configuration Name                                                                                                                                                                                                                                                      3008 non-null   object
 24  Electric-Only Range                                                                                                                                                                                                                                                          3008 non-null   object
 25  PHEV Total Range                                                                                                                                                                                                                                                             3008 non-null   object
 26  PHEV Type                                                                                                                                                                                                                                                                    3008 non-null   object
 27  Notes                                                                                                                                                                                                                                                                        3008 non-null   object
 28  Drivetrain                                                                                                                                                                                                                                                                   329 non-null    object
dtypes: int64(5), object(24)
memory usage: 681.6+ KB
None
       Vehicle ID      Fuel ID   Manufacturer ID   Category ID   Model Year
count   3008.00000  3008.000000       3008.000000   3008.000000  3008.000000
mean    9424.59242    31.003989        255.855718     24.988697  2014.493019
std     4667.98027    18.311570         64.474477      6.021677     6.722191
min        1.00000     3.000000        209.000000      3.000000  1991.000000
25%    10280.75000    11.000000        215.000000     25.000000  2012.000000
50%    11560.50000    41.000000        221.000000     27.000000  2016.000000
75%    12336.25000    45.000000        243.000000     29.000000  2020.000000
max    13105.00000    57.000000        470.000000     29.000000  2022.000000

CuÃ¡ntas filas y columnas hay

In [21]:
num_filas, num_columnas = df.shape

print(f"NÃºmero de filas: {num_filas}")
print(f"NÃºmero de columnas: {num_columnas}")

NÃºmero de filas: 3008
NÃºmero de columnas: 29

Observamos las columnas que se encuentran en el dataset

In [22]:
print("Nombres de columnas originales:")
print(df.columns.tolist())

Nombres de columnas originales:
['Vehicle ID ', 'Fuel ID ', 'Fuel Configuration ID ', 'Manufacturer ID ', 'Category ID ', 'Model                                              ', 'Model Year ', 'Alternative Fuel Economy City ', 'Alternative Fuel Economy Highway ', 'Alternative Fuel Economy Combined ', 'Conventional Fuel Economy City ', 'Conventional Fuel Economy Highway ', 'Conventional Fuel Economy Combined ', 'Transmission Type               ', 'Engine Type                                                  ', 'Engine Size                       ', 'Engine Cylinder Count ', 'Engine Description                                                ', 'Manufacturer                 ', 'Manufacturer URL                                                 ', 'Category                  ', 'Fuel Code ', 'Fuel                         ', 'Fuel Configuration Name ', 'Electric-Only Range ', 'PHEV Total Range ', 'PHEV Type   ', 'Notes                                                                                                                                                                                                                                                                      ', 'Drivetrain']

Sacamos los espacios en blanco del final y el comienzo de todas las columnas

In [23]:
df.columns = df.columns.str.strip()

Buscamos duplicados en las columnas

In [24]:
duplicados = df.columns[df.columns.duplicated()].tolist()
if duplicados:
    print(f"\nAtenciÃ³n: Se encontraron columnas duplicadas despuÃ©s de la limpieza: {duplicados}")
else:
    print("\nNo se encontraron columnas duplicadas despuÃ©s de la limpieza.")

No se encontraron columnas duplicadas despuÃ©s de la limpieza.

Buscamos duplicados en las filas

In [25]:
duplicados = df.duplicated().sum()
print(f"\nNÃºmero de filas duplicadas: {duplicados}")

NÃºmero de filas duplicadas: 0

Vamos a tomar solo las columnas que nos sirven para nuestro objetivo

In [26]:
columnas_deseadas = ['Vehicle ID','Fuel ID','Model','Model Year','Fuel']

Almacenamos las columnas deseadas en un nuevo dataset

In [27]:
df1= df[columnas_deseadas]

Eliminamos espacios en blanco en todas las columnas del dataset

In [28]:
for columna in columnas_deseadas:
    df[columna] = df[columna].astype(str).str.strip()

Buscamos valores nulos

In [29]:
print("Valores nulos:")
print(df1.isnull().sum())
print(f"\nPorcentaje de nulos:\n{(df1.isnull().sum() / len(df1)) * 100}")

Valores nulos:
Vehicle ID    0
Fuel ID       0
Model         0
Model Year    0
Fuel          0
dtype: int64

Porcentaje de nulos:
Vehicle ID    0.0
Fuel ID       0.0
Model         0.0
Model Year    0.0
Fuel          0.0
dtype: float64

In [30]:
#Verficamos con qe tipos de datos estamos trabajando
print("Tipos de datos originales:")
print(df1.dtypes)

Tipos de datos originales:
Vehicle ID     int64
Fuel ID        int64
Model         object
Model Year     int64
Fuel          object
dtype: object

Creamos un nuevo csv con los datos limpios

In [32]:
df1.to_csv('Light_duty_vehicles.csv', index=False)